body {
    background-color: black;
    background-size: cover;
    background-position: ;
}

.empty{
    height: 10%;
    
}

.maincontainer ul p {
    font-family:monospace;
    font-size: 24px;
    color: hotpink;
}

.maincontainer{
    position: absolute;
    left: 40%;
    top: 25%;
    border-color: hotpink;
    border-radius: 10px;
    width: 18%;
    height: 45%;
    text-align: center;
    background-color: black;
    background-size:cover;
    background-position:center;
    color: hotpink;
    font-family: monospace;
    font-size: 18px;
    padding: 0px 25px 0px 0px;
}

.maincontainer ul{
    list-style-type: none;
    
}

.maincontainer ul li{
    border-radius: 10px;
}

.maincontainer ul li a{
    color: hotpink;
    font-family: monospace;
    text-decoration: none;
    display: inline-block;
    margin: 7px;
}

.maincontainer ul li a:hover{
    color: white;
}


.form {
    width: 25%;
    margin: auto auto -5    px auto;
    display: inline-block;
}

.form [type=button]{
    display: none;
}

.form [type=text]{
    width: 19.5%;
    position: absolute;
    left: 40%;
    top: 20%;
    border-radius: 10px;
    border-style: solid;
    border-color: hotpink;
    height: 4%;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    color: hotpink;
    font-size: 26px;
}

.main{
    
}

#clock{
    color: deeppink;
    font-size: 37px;
    position: absolute;
    top: 14%;
    left: 46%;
    font-family: monospace;
}

#weather{
    position: absolute;
    top: 40px;
    left: 42%;
}




